<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<h1 th:with="loginUser=${user.getUsername()}">Домашняя страница пользователя <span th:text="${loginUser}"></span></h1>
<!--<h1>User, welcome spring boot security page!</h1>-->

<table>

  <tr>
    <td>ID:</td>
    <td th:text="${user.getId()}"/>
  </tr>

  <tr>
    <td>Name:</td>
    <td th:text="${user.getUsername()}"/>
  </tr>
  <tr>
    <td>Email:</td>
    <td th:text="${user.getEmail()}"/>
  </tr>




</table>


<br>

<input type="button" value="Logout" onclick="window.location.href ='/logout'"/>

<br>

<!--<form th:method="post" action="/logout">-->
<!--    <input type="submit" value="LogOut"/>-->
</form>



</body>
</html>